.board {
  display: grid;
  grid-template-columns: repeat(15, 40px);
  grid-template-rows: repeat(15, 40px);
  gap: 1px;
  background-color: #eee;
  width: fit-content;
}

.board-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;

}

.cell {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #eee;
  border: 1px solid #ccc;
}

/* Áreas fixas */
.red {
  background-color: #F20519;
}

.green {
  background-color: #03A61C;
}

.blue {
  background-color: #0F88F2;
}

.yellow {
  background-color: #ffff66;
}

.white {
  background-color: white;
}

.cell {
  position: relative;
  overflow: hidden;
}

/* Triângulo genérico */
.triangle::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Direções */
.triangle.top-left::before {
  clip-path: polygon(0 0, 100% 0, 0 100%);
}
.triangle.top::before {
  clip-path: polygon(0 0, 100% 0, 50% 100%);
}
.triangle.top-right::before {
  clip-path: polygon(100% 0, 100% 100%, 0 0);
}
.triangle.left::before {
  clip-path: polygon(0 0, 0 100%, 100% 50%);
}
.triangle.center::before {
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
.triangle.right::before {
  clip-path: polygon(100% 0, 100% 100%, 0 50%);
}
.triangle.bottom-left::before {
  clip-path: polygon(0 100%, 0 0, 100% 100%);
}
.triangle.bottom::before {
  clip-path: polygon(0 100%, 100% 100%, 50% 0);
}
.triangle.bottom-right::before {
  clip-path: polygon(100% 100%, 0 100%, 100% 0);
}

/* Cores */
.triangle.red::before {
  background-color: red;
}
.triangle.green::before {
  background-color: green;
}
.triangle.yellow::before {
  background-color: yellow;
}
.triangle.blue::before {
  background-color: blue;
}


.trophy-icon {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}


.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}

.left-controls,
.right-controls {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.right-controls {
  justify-content: flex-end;
}

.center-info {
  flex: 2;
  text-align: center;
}

.reset-button {
  background-color: #1976d2;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 8px;
}

.safe-icon {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 2px;
  left: 2px;
  z-index: 1;
}

.arrow-icon {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 1px;
  left: 5px;
  z-index: 2;
}

.triangulo {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.player-sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* === Perfis nos cantos === */
.player-top-left,
.player-top-right,
.player-bottom-left,
.player-bottom-right {
  position: absolute;
  z-index: 100;
}

.player-top-left {
  top: 250px;
  left: 250px;
}

.player-top-right {
  top: 250px;
  right: 250px;
}

.player-bottom-left {
  bottom: 170px;
  left: 250px;
}

.player-bottom-right {
  bottom: 170px;
  right: 250px;
}
