.pawn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  margin-top: 5px;
  box-shadow: 0 0 3px #333;
}

.red {
  background-color: #F20519;
}

.blue {
  background-color: #0F88F2;
}

.green {
  background-color: #03A61C;
}

.yellow {
  background-color: #ffff66;
}